<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.bubbletastic.android.ping"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <compatible-screens>
       
        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small"/>

        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal"/>
    </compatible-screens>

    <application

        android:name="com.bubbletastic.android.ping.Ping"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".userinterface.HostListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".userinterface.HostDetailActivity"
            android:label="@string/title_host_detail"
            android:parentActivityName=".userinterface.HostListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userinterface.HostListActivity"/>
        </activity>

        <activity
            android:name=".userinterface.SettingsActivity"
            android:label="@string/title_settings_activity"
            android:parentActivityName=".userinterface.HostListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userinterface.HostListActivity"/>
        </activity>

        <activity
            android:name=".userinterface.HostSettingsActivity"
            android:label="@string/title_host_settings_activity"
            android:parentActivityName=".userinterface.HostDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userinterface.HostDetailActivity"/>
        </activity>

        <service
            android:name=".service.RefreshHostsJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>
